main {
  display: grid;
  grid-template-columns: 125px 125px 125px;
  grid-gap: 0px;

}

app-square {
  /* border: 2px #ff0000 solid; */
  height: 125px;
  border-radius: 2px;

}

h1{
text-align: center;
}
*{
  font-family: 'Roboto Mono', monospace;
}
.container{
  margin-left: 450px;
}
.btn{
  margin-left: 575px;

}
#btn2{
  margin-left: 500px;

}
