<div class="container">
  <h2>Games list</h2>
  <ul>
    <li><a (click)="gotoXO()">X-O</a></li>
    <li><a (click)="gotoEzMath()">Easy Math</a></li>
  </ul>
  <div class="review">
    A video game[a] or computer game is an electronic game that involves
    interaction with a user interface or input device (such as a joystick,
    controller, keyboard, or motion sensing device) to generate visual feedback
    from a display device, most commonly shown in a video format on a television
    set, computer monitor, flat-panel display or touchscreen on handheld
    devices, or a virtual reality headset
  </div>
</div>
