*{
  font-family: 'Roboto Mono', monospace;
}
h2{
  text-align: center;
}
ul{
  display: flex;
  list-style-type: none;
  margin-left: 400px;
}
ul>li{
  margin-left:50px;

}
ul>li:hover{
  color: rgb(3, 149, 149);
}
